# Ignore vim swap files and backups
*~
*.sw?
*.o
core*
plparrot
.*/*.pbc
src/lib/*.pbc
src/lib/Glue.pir
src/lib/Util.pir
src/*.o
src/lib/*.o
*.so
*.a
*.dylib
regression.diffs
regression.out
results/
plparrotu.sql
plparrot.sql
